data
datasot
Dados Voos
JANEIRO
NOVEMBRO
Nova pasta
dadosColetados.csv
Nova pasta
ARQUIVOS GERADOS COM JAVASCRIPT
PASTAPARAEXTRAIR
SOTS 2024 BackUp
src
afiliadoPro
shopee-api-test
DADOS DE VOO - SIGMA EM SBRE
DADOS DE VOO - SIGMA POR SETOR
STRATEGICAL ANALYSIS
node_modules
janeiroSOTSetores.csv
Planilhas Geradas Dados de Demanda de Voo
JANEIRO
SOT BACKUP




